include SigProfilerExtractor/data/TextInput/*
include SigProfilerExtractor/data/VCFInput/*
include SigProfilerExtractor/data/CNVInput/*
include SigProfilerExtractor/data/CSVInput/*
include SigProfilerExtractor/data/MatObjInput/*
include SigProfilerExtractor/data/ReferenceFiles/*

